<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1
        {
            background-color: white;
            display: inline;
        }
        body
        {
            background-color: lightsalmon;
        }
    </style>
</head>
<body>
    <h1>🔥</h1>
    <h2 style="display: inline">The fire emoji is a flame that is mostly yellow with a little red on the top. It is used to signify that something is cool, awesome, exciting, or more colloquially, “on fire.”</h2>
</body>
</html>