<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1
        {
            background-color: white;
            display: inline;
        }
        body
        {
            background-color: skyblue;
        }
    </style>
</head>
<body>
    <h1>⛅</h1>
    <h2 style="display: inline">A fluffy, white cloud, as a cumulus. May be used as a weather icon to represent a cloudy or overcast day.</h2>
</body>
</html>